<section class="services">
    <form action="#">
        <mat-card>
            <div class="mat-header-cross">
                <mat-card-header>Add Website</mat-card-header>
                <button color="disabled" (click)="cancel($event)"><mat-icon aria-hidden="true">cancel</mat-icon></button>
            </div>
            <mat-form-field>
                <label for="URL">URL</label>
                <input type="text" name="webUrl"  [(ngModel)]="website.webUrl" mat-input id="URL" name="webUrl" [(ngModel)] ="website.webUrl">
            </mat-form-field>
            <mat-form-field>
                <label for="Description">Site Description</label>
                <textarea name="siteDescription" [(ngModel)]="website.siteDescription" id="Description"  [(ngModel)] ="website.siteDescription" ></textarea>
            </mat-form-field>
            <button (click)="add($event,website)"><mat-icon>add</mat-icon></button>
        </mat-card>
    </form>
</section>